::selection {
  background: $brand-danger;
  color: white;
}

::-moz-selection {
  background: $brand-danger;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

html {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
  font-weight: 800;
}


select[multiple], select.form-control[multiple] {
  margin-top: 5px;
}

select[multiple], select.form-control[multiple],
textarea, textarea.form-control,
input.form-control, input[type=text],
input[type=password], input[type=email],
input[type=number], [type=text].form-control,
[type=password].form-control, [type=email].form-control,
[type=tel].form-control, [contenteditable].form-control {
  background: linear-gradient(to bottom, rgba(white,.0) , rgba(white,.7));
}

share-this {
  display: inline-block !important;
  height: 32px !important;
  line-height: 32px !important;
  vertical-align: middle !important;
}

share-this * {
  display: block !important;
  float: left;
  height: 32px !important;
  line-height: 32px !important;
  vertical-align: middle !important;
}

.btn-coll {
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.btn-hide {
  display: none;
}

.collapse.in {
  display: inline;
}

.form-wrapper {
  background-color: $gray-lightest;
  border-radius: $border-radius-small;
  padding: 20px;
  label {
    color: $gray-dark;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin: 5px 0 0;
    &.checkbox-inline {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      padding-left: 5px;
      &:nth-child(2) {
        padding-left: 0;
      }
      &+ input {
        margin-left: 5px;
      }
    }
    &.label-block {
      display: block;
      margin-bottom: 5px;
    }
    .fa {
      color: $brand-primary;
      cursor: pointer;
      float: right;
      &:active,
      &:focus,
      &:hover {
        color: $brand-danger;
      }
    }
  }
}

.group-c {
  margin-bottom: 0;
  text-align: center;
}

.highlighted-states {
  text-align: center;
  width: 100%;
  .btn-default {
    border: 1px solid $gray-lighter;
    border-width: 1px;
    margin-bottom: 5px;
    &:active,
    &:focus,
    &:hover {
      border: 1px solid $brand-danger;
      .glyphicon {
        color: $brand-danger;
      }
    }
  }
}

.modal-title {
  font-size: 18px;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.save_icon {
  @include hide-text;
  background-image: url(../img/save.svg);
  cursor: pointer;
  height: 32px;
  margin: 0 20px 0 3px;
  width: 32px;
  &:active,
  &:focus,
  &:hover {
    opacity: .7;
  }
  .no-svg & {
    background-image: url(../img/save.png);
  }
}

.sharing {
  background-color: $gray-lightest;
  border-radius: $border-radius-small;
  line-height: 32px;
  margin: 30px 0 20px;
  padding: 0 10px 15px;
  text-align: center;
  @media (min-width: $screen-sm) {
    padding: 10px;
  }
  label {
    display: block;
    font-family: $font-family-headers;
    font-size: 14px;
    font-weight: 800;
    height: 32px;
    margin: 10px 0 0 0;
    vertical-align: middle;
    @media (min-width: $screen-sm) {
      display: inline-block;
      margin: 0 6px 0 0;
    }
  }
  span {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    &.st {
      position: relative;
      top: -3px;
    }
  }
}

.site-footer {
  background-color: $gray-dark;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  @media (min-width: $screen-md) {
    font-size: 16px;
    padding-bottom: 5px;
  }
  li, p {
    a {
      border-bottom: 1px solid white;
      color: white;
      &:active,
      &:focus,
      &:hover {
        border-bottom: 1px solid $brand-danger;
        color: white;
        text-decoration: none;
      }
    }
  }
  h1 {
    margin: 0 0 15px;
    a {
      @include hide-text;
      background-image: url(../img/tcg.svg);
      height: 75px;
      margin: 0;
      width: 185px;
      .no-svg & {
        background-image: url(../img/tcg.png);
      }
    }
  }
  li {
    list-style: none;
    b {
      margin: 0 25px 0 30px;
    }
    b,
    span {
      display: none;
      @media (min-width: $screen-md) {
        display: inline-block;
      }
    }
    br {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }
  ul {
    padding: 0;
  }
  .btn {
    margin-top: 15px;
    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
  .fa {
    margin-right: 7px;
  }
}

.site-header {
  background-color: $brand-primary;
  color: white;
  margin-bottom: 30px;
  padding: 30px 0;
  h1 {
    @include hide-text;
    background-image: url(../img/fda.svg);
    height: 50px;
    margin: 0;
    width: 100%;
    .no-svg & {
      background-image: url(../img/fda.png);
    }
  }
  h2 {
    color: white;
    font-size: 18px;
    margin: 20px 0 0;
    @media (min-width: $screen-sm) {
      font-size: 24px;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 0;
    @media (min-width: $screen-sm) {
      font-size: 18px;
    }
  }
  a {
    color: white;
    border-bottom: 1px solid white;
    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px solid $gray-light;
      color: $gray-light;
      text-decoration: none;
    }
  }
  .collapse {
    @media (min-width: $screen-sm) {
      display: inline;
    }
  }
}
