::selection {
  background: $brand-primary;
  color: white;
}

::-moz-selection {
  background: $brand-primary;
  color: white;
}

html {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

.site-header {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.checkbox-inline {
  font-weight: bold;
  &:first-child {
    padding-left: 0;
  }
  &+ input {
    margin-left: 5px;
  }
} 