table.dataTable {
  border-top: 1px solid #111;
  font-size: 14px;
  max-width: 100% !important;
  table-layout: fixed;
  width: 100% !important;
  @media (min-width: $screen-md) {
    font-size: 16px;
  }
  thead {
    th {
      background-image: none !important;
      line-height: 1;
      padding: 30px 10px 10px 10px !important;
      position: relative;
      @media (min-width: $screen-md) {
        padding: 10px 30px 10px 10px !important;
      }
      &:after {
        position: absolute !important;
        right: calc(50% - 8px) !important;
        @media (min-width: $screen-md) {
          right: 8px !important;
          top: calc(50% - 8px) !important;
        }
      }
    }
  }
  tbody {
    td {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }
    .open-row td {
      overflow: auto;
      text-overflow: initial;
      white-space: normal;
    }
  }
  td.col-type {
    padding-bottom: 0 !important;
    text-align: center !important;
  }
  th, td {
    &.col-type {
      display: none !important;
    }
    &.col-firm {
      width: 25% !important;
    }
    &.col-reason {
      width: 30% !important;
    }
    &.col-desc {
      width: 30% !important;
    }
    &.col-date {
      width: 15% !important;
    }
    &.col-state {
      display: none !important;
    }
    @media (min-width: $screen-sm) {
      &.col-type {
        display: table-cell !important;
        width: 10% !important;
      }
      &.col-firm {
        width: 15% !important;
      }
      &.col-reason {
        width: 25% !important;
      }
      &.col-desc {
        width: 25% !important;
      }
      &.col-date {
        width: 10% !important;
      }
      &.col-state {
        display: table-cell !important;
        width: 15% !important;
      }
    }
    @media (min-width: $screen-md) {
      &.col-type {
        width: 8% !important;
      }
      &.col-firm {
        width: 15% !important;
      }
      &.col-reason {
        width: 25% !important;
      }
      &.col-desc {
        width: 25% !important;
      }
      &.col-date {
        width: 12% !important;
      }
      &.col-state {
        width: 15% !important;
      }
    }
  }
  .even td {
    background-color: $gray-lightest;
  }
}

.dataTables_wrapper {
  .dataTables_length {
    float: none;
    margin: 5px 0 10px;
    text-align: center;
    @media (min-width: $screen-sm) {
      float: right;
      margin: 0;
      padding-top: 0.755em;
    }
  }
  .dataTables_paginate {
    float: none;
    text-align: center;
    .paginate_button {
      display: none;
      padding: 0 0 0 1px;
      &.first,
      &.previous,
      &.next,
      &.last {
        display: inline-block;
      }
      @media (min-width: $screen-sm) {
        display: inline-block;
      }
    }
  }
  .dataTables_processing {
    background: rgba($brand-primary, .8) !important;
    border-radius: $border-radius-small !important;
    box-shadow: 0 0 2px rgba(black,.5) !important;
    color: white !important;
    font-family: $font-family-headers !important;
    font-weight: 800 !important;
    height: auto !important;
    line-height: 1 !important;
    margin-left: -40% !important;
    margin-top: -40px !important;
    padding: 30px !important;
    text-align: center !important;
    width: 80% !important;
    z-index: 2 !important;
    @media (min-width: $screen-sm) {
      margin-left: -15% !important;
      width: 30% !important;
    }
  }
}

.prod-type {
  @include hide-text;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.prod-type-sm {
  @include hide-text;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.type-devices {
  background-image: url(../img/devices.svg);
}

.type-drugs {
  background-image: url(../img/drugs.svg);
}

.type-food {
  background-image: url(../img/food.svg);
}
