.datamap path {
  cursor: pointer;
}

.hoverinfo {
  background-color: $gray-lightest !important;
  border-radius: $border-radius-small !important;
  border: none !important;
  box-shadow: 0 0 2px rgba(black,.5) !important;
  color: $gray-dark !important;
  font-family: $font-family-sans-serif !important;
  font-size: 14px !important;
  line-height: 1 !important;
  padding: 7px 10px 10px !important;
  text-align: center !important;
  em {
    color: $brand-primary !important;
    display: block !important;
    font-family: $font-family-headers !important;
    font-size: 36px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    margin-bottom: 12px !important;
  }
}

/*
    Currently have colors hard-coded for legend. If we're going to allow
    users to select color schemes, we need to move this into JavaScript.
*/

.map-leg {
  background: linear-gradient(to right,
    #fff7fb 0%,
    #fff7fb 12.5%,
    #ece7f2 12.5%,
    #ece7f2 25%,
    #d0d1e6 25%,
    #d0d1e6 37.5%,
    #a6bddb 37.5%,
    #a6bddb 50%,
    #74a9cf 50%,
    #74a9cf 62.5%,
    #3690c0 62.5%,
    #3690c0 75%,
    #0570b0 75%,
    #0570b0 87.5%,
    #045a8d 87.5%,
    #045a8d 100%,
    #023858 100%);
  border: 1px solid black;
  bottom: auto;
  font-size: 12px;
  left: 0;
  line-height: 1;
  padding: 5px;
  position: absolute;
  right: 0;
  top: -10px;
  @media (min-width: $screen-md) {
    bottom: -15px;
    top: auto;
  }
  .leg-less {
    color: black;
    float: left;
  }
  .leg-more {
    color: white;
    float: right;
  }
}
