<script type="text/ng-template" id="recallDetail.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title detail-title"><span class="prod-type type-{{details['productType'] | lowercase}}"></span>{{details['productType']}} Recall</h4>
    </div>
    <alert ng-repeat="alert in modalAlerts" type="{{alert.type}}" close="closeModalAlert($index)">{{alert.msg}}</alert>
    <div class="modal-body recall-report">
        <div class="row">
            <div class="col-sm-6">
                <h5>{{details['recallNumber']}} ({{details['eventId']}})</h5>
            </div>
            <div class="col-sm-6">
                <h5 class="init-date">{{details['recallInitiationDate'] | date : 'shortDate'}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <strong>{{details['recallingFirm']}}</strong><br>
                {{details['city']}}, {{details['state']}}
            </div>
            <div class="col-sm-4">
                <strong>{{details['classification']}}</strong><br>
                {{details['voluntaryMandated']}}
            </div>
            <div class="col-sm-4">
                <strong>{{details['status']}}</strong><br>
                Report Date: {{details['reportDate'] | date : 'shortDate'}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>Product:</strong><br>
                {{details['productDescription']}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>Reason:</strong><br>
                {{details['reasonForRecall']}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>Distributed:</strong><br>
                {{details['distributionPattern']}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>Quantity:</strong><br>
                {{details['productQuantity']}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<span ng-click="openRecallDetailModal()"></span>
