<script type="text/ng-template" id="saveSearch.html">
    <div class="modal-header">
        <h4 class="modal-title">Enter a name and description for this search.</h4>
        <p>After you save, you can share your search.</p>
    </div>
    <alert ng-repeat="alert in modalAlerts" type="{{alert.type}}" close="closeModalAlert($index)">{{alert.msg}}</alert>
    <div class="modal-body">
		<div class="form-group">
			<label for="saveSearchName">Name</label>
			<input type="text" name="saveSearchName" id="saveSearchName" class="form-control" ng-model="saveSearchName">
		</div>
		<div class="form-group">
			<label for="saveSearchDescription">Description</label>
			<input type="text" name="saveSearchDescription" id="saveSearchDescription" class="form-control" ng-model="saveSearchDescription">
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Save</button>
    </div>
</script>

<button class="btn btn-primary" ng-click="openModal()"><i class="fa fa-share-square"></i> Save &amp; Share this Search</button>
<div class="share-btns">
    <share-this url="shareThisUrl" service="email"></share-this>
    <share-this url="shareThisUrl" service="facebook"></share-this>
    <share-this url="shareThisUrl" service="twitter"></share-this>
    <share-this url="shareThisUrl" service="tumblr"></share-this>
    <share-this url="shareThisUrl" service="reddit"></share-this>
    <share-this url="shareThisUrl" service="sharethis"></share-this>
    <div class="share-over" ng-click="openModal()" ng-hide="savedSearch.id"></div>
</div>
